* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #1a1a1a;
}

@media (orientation: landscape) {
    .game-board {
        aspect-ratio: 4 / 3;
        width: min(100dvw, calc(100dvh * 4 / 3));
        height: auto;
        background-color: #f0a0a0;
    }
}

/* --- ORIENTACJA PIONOWA (3/4) --- */
@media (orientation: portrait) {
    .game-board {
        aspect-ratio: 2 / 3;
        width: auto;
        height: min(100dvh, calc(100dvw * 3 / 2));
        background-color: #a0f0a0;
    }
}

.game-board {
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.bottom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background: #ddd;
    height: 40%;
}

.anchor {
    background: rgba(0, 0, 0, 0.1);
    border: 2px dashed #999;
    border-radius: 8px;
    aspect-ratio: 2;
    margin: auto;
    width: 90%;
}