* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    font-family: arial, sans-serif;
}

[x-cloak] { display: none !important; }

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #1a1a1a;
}

.game-board {
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    container-type: size;
}

.label {
    position: absolute;
    width: 100%;
    top: 2%;
}

.anchor {
    background: rgba(0, 0, 0, 0.1);
    border: 2px dashed #999;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.control-button {
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.2s ease-out;
}

.card-side {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s linear;
}

.card-front {
    font-size: 8cqmin;
}

.card-back {
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    color: red;
}

.card-back-top {
    font-size: 6cqmin;
}

.card-back-bottom {
    font-size: 4cqmin;
}

#mistakes-label {
    left: 5%;
    text-align: left;
    color: #ff0;
}

#time-label {
    right: 5%;
    text-align: right;
    color: #fff;
}

.slot {
    aspect-ratio: 2;
    position: absolute;
}

.slot-start {
    opacity: 0;
}

.slot-main {
    transform: scale(1.25);
}

.slot-reveal .card-front {
    opacity: 0;
}

.slot-reveal .card-back {
    opacity: 1;
}

.slot.slot-under {
    z-index: 5;
}

@media (orientation: landscape) {

    .game-board {
        aspect-ratio: 4 / 3;
        width: min(100dvw, calc(100dvh * 4 / 3));
        height: auto;
        background: linear-gradient(to bottom, 
            #049539 0%,
            #049539 53%,
            #196bcf 53%,
            #196bcf 100%
        );
    }

    .label {
        font-size: 4cqmin;
    }

    .slot {
        width: 24%;
    }

    .slot-start {
        left: -18%;
        top: 15%;
    }

    .slot-1 {
        left: 10%;
        top: 15%;
    }

    .slot-2 {
        left: 38%;
        top: 15%;
    }

    .slot-3 {
        left: 66%;
        top: 15%;
    }

    .slot-main {
        left: 66%;
        top: 35%;
    }

    .slot-reveal {
        left: 10%;
        top: 35%;
    }

    .slot-btn-1 {
        left: 10%;
        top: 55%;
    }

    .slot-btn-2 {
        left: 38%;
        top: 55%;
    }

    .slot-btn-3 {
        left: 66%;
        top: 55%;
    }

    .slot-btn-4 {
        left: 10%;
        top: 75%;
    }

    .slot-btn-5 {
        left: 38%;
        top: 75%;
    }

    .slot-btn-6 {
        left: 66%;
        top: 75%;
    }
}

@media (orientation: portrait) {
    .game-board {
        aspect-ratio: 2 / 3;
        width: auto;
        height: min(100dvh, calc(100dvw * 3 / 2));
        background: linear-gradient(to right, 
            #049539 0%,
            #049539 50%,
            #196bcf 50%,
            #196bcf 100%
        );
    }

    .label {
        font-size: 6cqmin;
    }

    .slot {
        width: 36%;
    }

    .slot-start {
        left: 10%;
        top: -4%;
    }

    .slot-1 {
        left: 10%;
        top: 10%;
    }

    .slot-2 {
        left: 10%;
        top: 24%;
    }

    .slot-3 {
        left: 10%;
        top: 38%;
    }

    .slot-main {
        left: 10%;
        top: 52%;
    }

    .slot-reveal {
        left: 10%;
        top: 80%;
    }

    .slot-btn-1 {
        left: 54%;
        top: 10%;
    }

    .slot-btn-2 {
        left: 54%;
        top: 24%;
    }

    .slot-btn-3 {
        left: 54%;
        top: 38%;
    }

    .slot-btn-4 {
        left: 54%;
        top: 52%;
    }

    .slot-btn-5 {
        left: 54%;
        top: 66%;
    }

    .slot-btn-6 {
        left: 54%;
        top: 80%;
    }
}